todo
utils/__pycache__/
examples/window_ex_output/figs/4GMA*
examples/window_ex_output/figs/6WLT*
examples/window_ex_output/figs/P4P6_0-99_w53barcode.png
examples/window_ex_output/figs/P4P6_10-109_w53barcode.png
examples/window_ex_output/figs/P4P6_100-199_w53barcode.png
examples/window_ex_output/figs/P4P6_20-119_w53barcode.png
examples/window_ex_output/figs/P4P6_30-129_w53barcode.png
examples/window_ex_output/figs/P4P6_40-139_w53barcode.png
examples/window_ex_output/figs/P4P6_50-149_w53barcode.png
examples/window_ex_output/figs/P4P6_70-169_w53barcode.png
examples/window_ex_output/figs/P4P6_80-179_w53barcode.png
examples/window_ex_output/figs/P4P6_90-189_w53barcode.png
SL5-M2seq/
SL5-M2seq_split/
examples/*/*/*png
*svg

GPN/
commands_for_GPN.txt
05232023_library.fasta
230601_GPN_library_RCK_edit.*
